body {
    background-color: #FAC90D;
    font-family: 'Abel', sans-serif;
    color: white;
    height: 100%;
}

#logo-corner {
    position: fixed;
    bottom: -32px;
    left: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

* {
    padding: 0px;
    margin: 0px;
}

center {
    background-color: #FAC90D;
}

h1, h2 {
    color: #076DCE;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 35px;
    padding-top: 40px;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 3px;
}

.addresses-count {
    font-size: 18px;
    color: #076DCE;
}

.bitcoin-balance {
    margin-bottom: 35px;
}

.bitcoin-balance .amount {
    font-size: 30px;
    line-height: 38px;
}

em > .amount {
    line-height: 56px;
    font-size: 56px;
    font-style: normal;
}

.profit {
    color: white;
}

.loss {
    color: #F06820;
}

.current-rate {
    position: fixed;
    right: 10px;
    bottom: 6px;
    opacity: 0.65;
    font-size: 20px;
    line-height: 20px;
    z-index: -1;
}

img.settings {
    width: 40px;
    opacity: 0.4;
    position: fixed;
    right: 10px;
    top: 10px;
    user-select: none;
}

img.settings:hover {
    cursor: pointer;
}

.settings h1 {
    margin-bottom: 12px;
}

.settings section {
    margin-bottom: 20px;
}

.settings select {
    height: 25px;
}

div.new-address {
    font-family: "Lucida Console", Monaco, monospace;
}

input.address {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    width: 240px;
}

section.addresses {
    width: 50%;
}

@media (max-width: 900px) {
    section.addresses {
        width: 85%;
    }
}

.address {
    display: inline-flex;
    border: 1px solid white;
    margin: 5px;
    width: 240px;
}

.address .delete {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 5px;
    border: 0px;
    border-radius: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-left: 1px solid white;
}

.address .delete-confirm {
    color: white;
    background-color: #F06820;
}

.address-number {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.delete img {
    margin: 7px;
}

.spin {
    animation-name: spin;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}
