body {
    background-color: #FAC90D;
    font-family: 'Abel', sans-serif;
    color: white;
    height: 100%;
}

#logo-corner {
    position: fixed;
    bottom: -32px;
    left: 0;
}

* {
    padding: 0px;
    margin: 0px;
}

h1, h2 {
    color: #076DCE;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 35px;
    padding-top: 70px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
}

.addresses-count {
    font-size: 10px;
    color: #076DCE;
}

.bitcoin-balance {
    margin-bottom: 35px;
}

.bitcoin-balance .amount {
    font-size: 24px;
    line-height: 32px;
}

em > .amount {
    line-height: 48px;
    font-size: 48px;
    font-style: normal;
}

.current-rate {
    position: fixed;
    right: 10px;
    bottom: 6px;
    opacity: 0.65;
    font-size: 20px;
    line-height: 20px;
}

img.settings {
    width: 64px;
    height: 64px;
    opacity: 0.4;
    position: fixed;
    bottom: 80px;
    left: 50%;
    margin-left: -32px;
    user-select: none;
}

img.settings:hover {
    cursor: pointer;
}

.settings h1 {
    margin-bottom: 12px;
}

.settings section {
    margin-bottom: 20px;
}

input.address {
    margin-bottom: 5px;
    font-family: "Lucida Console", Monaco, monospace;
}

.spin {
    animation-name: spin;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}
